:root {
  --color-neutral-darkest: #1a1e24;
  --color-neutral-darker: #282c34;
  --color-neutral-dark: #3c424a;
  --color-neutral-light: #606873;
  --color-neutral-lighter: #a3acb8;
  --color-neutral-lightest: white;
  --color-accent: #3FBA84;
}

.app {
  background-color: var(--color-neutral-darker);
  color: var(--color-neutral-lightest);
}

.app-container {
  min-height: 100vh;
  max-width: 80rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  column-gap: 2rem;
  row-gap: 2rem;
}

.app-header {
  grid-area: header;
}
.app-main {
  grid-area: main;
}
.app-sidebar {
  grid-area: sidebar;
}
.app-footer {
  grid-area: footer;
}

.link {
  color: var(--color-accent);
}

span.emoji {
  font-size: inherit;
  margin-right: .75em;
}

.section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.section-title {
  font-size: 1.5rem;
}

.section-subtitle {
  font-size: 1rem;
  color: var(--color-neutral-lighter);
  margin-top: -1rem;
}